<!doctype html>
<html ng-app="myApp">

<head>
    <meta charset="utf-8">
    <title>Untitled Document</title>
    <script type="text/javascript" src="lib/angular.min.js"></script>
    <script type="text/javascript" src="lib/angular-construct.js"></script>
    <script>
    </script>
    <style>
        * {
            margin: 0px;
            padding: 0px;
        }
        
        table th,
        table td {
            border: 1px solid #ccc;
            padding: 5px;
        }
        input { margin: 10px 0px;}
    </style>
</head>

<body>
    <div class="dataTable" ng-controller="dataController">
        Filter search: <input type="text" ng-model="search.name" >
        Equality: <input type="checkbox" ng-model="strict" >
        <form ng-submit="addEntry()">
            <table cellpadding="0" cellspacing="0">
                <tr>
                    <th>S.no</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>work</th>
                </tr>
                <tr ng-repeat="entry in collection | filter:search:strict">
                    <td>{{ $index +1 }}</td>
                    <td>{{ entry.name }}</td>
                    <td>{{ entry.age }}</td>
                    <td>{{ entry.work }}</td>
                </tr>
            </table>
           Name: <input type="text" ng-model="newData.name" required>
           Age: <input type="text" ng-model="newData.age" required>
           work: <input type="text" ng-model="newData.work" required>
           <input type="submit" value="Add">
        </form>
    </div>
</body>

</html>