<!doctype html>
<html ng-app="myApp" ng-init="mySwitch=false">

<head>
    <meta charset="utf-8">
    <title>Untitled Document</title>
    <script type="text/javascript" src="lib/angular.min.js"></script>
    <script type="text/javascript" src="lib/angular-construct.js"></script>

    <style>
        * { margin: 0px; padding: 0px; }
        .test { width: 500px; margin: 0 auto;}
        input { margin: 10px; margin-left: 0px; padding: 8px; width: inherit; }
        table, th , td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
    </style>
</head>

<body>
    <div class="test" ng-controller="myCtrl">
        <select ng-model="selectedName" ng-options="x.Name for x in myData"></select>
<!--
        <select ng-model="selectedNamee">
            <option ng-repeat="x in myData"> {{x.Country}}</option>
        </select>
-->
        
        <h3>{{selectedName.Name}}</h3> <input type="checkbox" ng-model="mySwitch">
        
        <h3 ng-show="mySwitch">{{selectedName.Country}}</h3>
    </div>
    <script>
        var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope, $http) {
    $http.get("http://www.w3schools.com/angular/customers_mysql.php").then(function(response) {
        $scope.myData = response.data.records;
    });
});
    </script>
</body>

</html>