.cpo-drill-bg .main-content{
	margin-bottom:20px;
}
.cpo-drill-bg .acom-main{
	float:left;
	width:648px;
}
.cpo-drill-bg .right-rail{
	float:right;
	width:140px;
}

.cpo-drill-bg .left-rail{
	float:left;

}