.sitemap-cnt-module .mod-sitemap-title {
	color: black;
	font: 28px/28px Arial,helvetica,sans-serif;
}

.sitemap-cnt-module{
	margin-bottom: 20px;
	position: relative;
}

.sitemap-cnt-module .subhead{
	color: #666;
	font: 12px/16px 'Arial',sans-serif;
	margin-bottom: 20px;
	display: block;
	width: 483px;
	padding-top: 10px;
}

.sitemap-cnt-module .select-brand .accord{
	background:url(../_siteconfigs/automotive_com/images/bghtml5/accordion_img.jpg) no-repeat;
	cursor: pointer;
	float: left;
	width: 13px;
	height: 14px;
	position: absolute;
	margin-top: -33px;
	right: 30px;
}
.sitemap-cnt-module .select-brand .collapse{
	background-position: 0 0;
}

.sitemap-cnt-module .select-brand .expand{
	background-position: -14px 0;
}


.sitemap-cnt-module .select-brand {
	border: 1px solid #CCC;
	margin-bottom: 20px;
}

.sitemap-cnt-module .select-brand h2 {
	background: #eaebeb; /* Old browsers */
	background: -moz-linear-gradient(top,  #eaebeb 0%, #eaebeb 50%, #e2e2e2 51%, #e2e2e2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eaebeb), color-stop(50%,#eaebeb), color-stop(51%,#e2e2e2), color-stop(100%,#e2e2e2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #eaebeb 0%,#eaebeb 50%,#e2e2e2 51%,#e2e2e2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #eaebeb 0%,#eaebeb 50%,#e2e2e2 51%,#e2e2e2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #eaebeb 0%,#eaebeb 50%,#e2e2e2 51%,#e2e2e2 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #eaebeb 0%,#eaebeb 50%,#e2e2e2 51%,#e2e2e2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaebeb', endColorstr='#e2e2e2',GradientType=0 ); /* IE6-9 */
    border-bottom: 1px solid #CCCCCC;
    color: #000000;
    font: 22px/22px 'Arial',sans-serif;
    margin: 1px;
    padding: 11px 15px;
}

.mod-brand-container {
	border-top: 1px solid #CCC;
	overflow: hidden;
	padding: 12px 0;
}
.mod-brand-container .make-column:first-child {
	border-left: none;
}
.mod-brand-container .make-column {
	border-left: #CCC 1px solid;
	float: left;
	overflow: hidden;
	width: 19.9%;
}
.mod-brand-container .make-column ul {
	margin: 0;
}
.mod-brand-container .make-column-separate {
	margin: 0;
	padding: 0;
}
.mod-brand-container .make-column ul li {
	list-style: none;
	margin-left: 20px;
}

.mod-brand-container a {
	color: #06C;
	display: block;
	font: 12px/26px Arial, Helvetica, sans-serif;
	text-decoration: none;
}
.sitemap-cnt-module .select-brand .accord{
	background:url(../_siteconfigs/automotive_com/images/bghtml5/accordion_img.jpg) no-repeat;
	cursor: pointer;
	float: left;
	width: 13px;
	height: 14px;
	position: absolute;
	margin-top: -33px;
	right: 30px;
}
.sitemap-cnt-module .select-brand .collapse{
	background-position: 0 0;
}

.sitemap-cnt-module .select-brand .expand{
	background-position: -14px 0;
}

.mod-hp-makes-list {
	display: none;
}

