
.mod-car-review {
    background: none repeat scroll 0 0 #FFFFFF;
    margin-bottom: 7px;
}
.mod-car-review .car-review-header {
    border-bottom: 1px solid #CCCCCC;
    margin: 0 20px;
	position: relative;
	height: 58px;
}
.mod-car-review-title {
    border-bottom: 1px solid #CCCCCC;
    color: #000000;
    font: 28px/28px Arial,helvetica,sans-serif;
    margin-bottom: 15px;
    padding-bottom: 15px;
}
.mod-car-review-article .article-blk {
    margin: 0 20px;
    overflow: hidden;
}
.mod-car-review .gallery-view .mod-car-review-article .article-blk {
    border-bottom: 1px solid #CCCCCC;
    margin: 0 20px;
    overflow: hidden;
}
.mod-car-review .gallery-view .mod-car-review-article .article-blk:last-child {
    border-bottom: medium none;
}
.mod-car-review .gallery-view .mod-car-review-article {
    margin-top: 0;
}
.mod-car-review .gallery-view .mod-carreview-article:last-child {
    padding-right: 0;
}
.mod-car-review .mod-viewby-section {
    color: #666666;
    display: inline-block;
    float: left;
    font-size: 11px;
    padding-left: 0;
}
.mod-car-review-select-box {
    float: left;
    padding: 6px 3px 6px 5px;
}
.mod-car-review select {
    border: 1px solid #CCCCCC;
    color: black;
    font-size: 11px;
    margin: 0;
    width: 100%;
}
.mod-car-review .top-section {
    float: right;
    margin-top: 20px;
    width: 474px;
}
.mod-car-review .top-section span {
    float: left;
}
.mod-car-review .top-section .toggle-view {
    display: inline-block;
    height: 36px;
    margin-bottom: -7px;
    margin-left: -3px;
    overflow: hidden;
    width: 127px;
}
.mod-car-review .list-view .item img {
    height: auto;
}
.mod-car-review .event .list-view .listing .item .info {
    width: 576px;
}
.mod-car-review .event .listing .item h3 {
	color: #0066cc;
    padding-top: 12px;
}
.mod-car-review .top-section .toggle-view span {
    background: url("../_siteconfigs/automotive_com/images/bghtml5/toggle-view3.gif") no-repeat scroll right top transparent;
    float: left;
    height: 36px;
    width: 63px;
}
.mod-car-review .top-section .toggle-view .list {
    background-position: left top;
    width: 63px;
}
.mod-car-review .gallery-view .top-section .toggle-view .list {
    background-position: left -46px;
}
.mod-car-review .gallery-view .top-section .toggle-view .list:hover {
    background-position: left -94px;
}
.mod-car-review .list-view .top-section .toggle-view .gallery, .mod-car-review .gallery-view .top-section .toggle-view .list {
    cursor: pointer;
}
.mod-car-review .list-view .top-section .toggle-view .list {
    background-position: left top;
}
.mod-car-review .list-view .top-section .toggle-view .gallery {
    background-position: right -46px;
}
.mod-car-review .list-view .top-section .toggle-view .gallery:hover {
    background-position: right -94px;
}
.mod-car-review .top-section .filter {
    float: right;
    z-index: 15;
}
.mod-car-review .gallery-view .listing {
    overflow: hidden;
    padding-top: 6px;
}
.mod-car-review .list-view .listing {
    overflow: hidden;
    padding-top: 6px;
}
.mod-car-review .list-view article {
    border-bottom: 1px solid #CCCCCC;
    overflow: hidden;
    padding: 15px 0;
}
.mod-car-review .list-view article:last-child {
    border-bottom:1px solid #CCCCCC;
}

.mod-car-review .list-view .article-blk:last-child article:last-child {
    border-bottom:none;
}

.mod-car-review .list-view article:hover {
    background: none repeat scroll 0 0 #EDF4FB;
    cursor: pointer;
}
.mod-car-review .list-view article h3 {
    font: 20px/28px Arial,Helvetica,sans-serif;
    padding-top: 5px;
}
.mod-car-review .list-view article:hover h3 {
    color: #0066CC;
    font: 20px/28px Arial,Helvetica,sans-serif;
    padding-top: 5px;
}
.list-view .mod-car-review-cat-title, .gallery-view .mod-car-review-cat-title {
    display: inline-block;
    font: 25px/25px Arial,helvetica,sans-serif;
    margin: 25px 0 8px;
}
.gallery-view .mod-car-review-cat-title {
    margin-left: 0;
}
.list-view .mod-car-review-cat-subtitle, .gallery-view .mod-car-review-cat-subtitle {
    color: #666666;
    font: 12px/12px Arial,helvetica,sans-serif;
    margin: 0 15px 0 25px;
    padding-bottom: 8px;
}
.gallery-view .mod-car-review-cat-subtitle {
    border-bottom: 1px solid #CCCCCC;
    margin-left: 0;
    padding-bottom: 1px;
}
.mod-car-review .list-view .mod-title-notes, .mod-car-review .gallery-view .mod-car-review-cat-subtitle .mod-title-notes {
    display: inline-block;
    font: 12px/12px Arial,helvetica,sans-serif;
}
.mod-car-review .gallery-view .mod-car-review-cat-subtitle .mod-title-notes {
    width: 682px;
}
.mod-car-review .list-view .mod-car-review-cat-subtitle .mod-title-notes {
    width: 680px;
}
.mod-car-review .list-view .item, .mod-car-review .gallery-view .item {
    background: -moz-linear-gradient(center top , #FFFFFF 6%, #F2F3F3 73%) repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 20px;
    overflow: hidden;
    padding-bottom: 12px;
}
.mod-car-review .list-view .item a, .mod-car-review .gallery-view .item a {
    color: #000000;
    text-decoration: none;
}
.mod-car-review .list-view .mod-view-all, .mod-car-review .gallery-view .mod-view-all {
    color: #0066CC;
    display: inline-block;
    width: 74px;
}
.mod-car-review .gallery-view .mod-view-all {
    display: inline-block;
    width: 74px;
}
.mod-car-review .list-view .mod-view-all a, .mod-car-review .gallery-view .mod-view-all a {
    color: #0066CC;
}
.mod-car-review .list-view .item .mod-thumbnail {
    display: block;
    float: left;
    position: relative;
}
.mod-car-review .list-view .item img {
    border: 1px solid #ccc;
	display: block;
	height: 102px;
	width: 166px;
}
.mod-car-review .list-view .item .info {
    float: left;
    margin: 0 0 0 10px;
    width: 516px;
}


.mod-car-review .item .info  span{
    color: #000;
	font: 14px/16px Arial,Helvetica,sans-serif;
	display: block;
}


.mod-car-review .list-view .height-cont {
    height: 123px;
}
.mod-car-review .list-view .item .height-cont h3 {
    display: inline-block;
    font: 20px/28px Arial,Helvetica,sans-serif;
    padding-top: 0;
}
.mod-car-review .gallery-view .item h3 {
	color: #0066cc;
    font: 20px/24px Arial,Helvetica,sans-serif;
    padding-top: 0;
}
.mod-car-review .list-view .item p {
    color: #000000;
    font: 16px/18px Arial,Helvetica,sans-serif;
	margin: 5px 0;
}
.mod-car-review .gallery-view .mod-carreview-article {
    border-left: 1px solid #CCCCCC;
    float: left;
    position: relative;
    width: 33.24%;
}
.mod-car-review .gallery-view .mod-carreview-article .mod-article-box {
    padding: 10px;
}
.mod-car-review .gallery-view .mod-carreview-article:hover {
    background: none repeat scroll 0 0 #EDF4FB;
    cursor: pointer;
}
.mod-car-review .gallery-view .mod-carreview-article:hover h3 {
    color: #0066CC;
}
.mod-car-review .gallery-view .mod-carreview-article:first-child {
    border-left: medium none;
    cursor: pointer;
    padding-left: 0;
}
.review-overlay {
    background: url("../_siteconfigs/automotive_com/images/bghtml5/readreview2.png") no-repeat scroll center center rgba(0, 0, 0, 0.5);
    border: 1px solid #379AFF;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.mod-car-review .gallery-view .item {
    margin: 0 0 15px;
}
.mod-car-review .gallery-view .item .mod-thumbnail {
    display: block;
    margin-top: 10px;
    position: relative;
}
.mod-car-review .gallery-view .item img {
    border: 1px solid #ccc;
	display: block;
    height: 181px;
    width: 292px;
}
.mod-car-review .gallery-view .item .flpr-btn {
    bottom: 0;
    left: 0;
    position: absolute;
}
.mod-car-review .gallery-view .item span {
    color: #000;
    font: 14px/16px Arial,helvetica,sans-serif;
}
.mod-car-review .gallery-view .item p {
    color: #000;
    font: 14px/16px Arial,helvetica,sans-serif;
    margin: 5px 0;
}
.mod-car-review .gallery-view .item .height-cont {
    padding: 0 0 8px;
}
.mod-car-review-category-title {
    border-bottom: 1px solid #CCCCCC;
    color: #000000;
    display: inline-block;
    font: 28px/32px Arial,helvetica,sans-serif;
    width: 672px;
}
.mod-car-review-category-title h1 {
    padding-right: 10px;
}
.mod-car-review-category .mod-car-review .top-section {
    margin-left: 0;
}
.mod-car-review-category .mod-car-review .top-section .toggle-view span {
    height: 36px;
}
.mod-car-review-category .mod-car-review .top-section .toggle-view {
    height: 38px;
}
.mod-car-review-category-subtitle {
    color: #666666;
    font: 12px/15px Arial,helvetica,sans-serif;
    margin: 3px 0;
    padding: 0 10px 10px 0;
}
.mod-car-review-category .mod-car-review .list-view .mod-carreview-article:first-child {
    border-top: medium none;
}
.mod-car-review-category .mod-car-review .gallery-view .mod-carreview-article {
    border-bottom: 1px solid #CCCCCC;
    padding-bottom: 10px;
}
.mod-car-review-category .mod-car-review-article {
    margin-top: 10px;
}
.mod-car-review-category .mod-car-review .gallery-view .mod-carreview-article {
    padding: 0 10px 15px;
}
.mod-car-review-category .mod-car-review {
    margin-bottom: 0;
}
.mod-car-review-category .top-section .toggle-view {
    bottom: -3px;
    margin-left: 10px;
    position: relative;
    right: -1px;
    vertical-align: middle;
}
/*FIND REVIEW INDEX SEARCH BOX STYLE*/

.find-review-index{
	border: 1px solid #ccc;
	overflow: hidden;
}

.find-review-index  .dropdown-box {
	background: #eaebeb; /* Old browsers */
	background: -moz-linear-gradient(top,  #eaebeb 0%, #eaebeb 50%, #e2e2e2 51%, #e2e2e2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eaebeb), color-stop(50%,#eaebeb), color-stop(51%,#e2e2e2), color-stop(100%,#e2e2e2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #eaebeb 0%,#eaebeb 50%,#e2e2e2 51%,#e2e2e2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #eaebeb 0%,#eaebeb 50%,#e2e2e2 51%,#e2e2e2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #eaebeb 0%,#eaebeb 50%,#e2e2e2 51%,#e2e2e2 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #eaebeb 0%,#eaebeb 50%,#e2e2e2 51%,#e2e2e2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaebeb', endColorstr='#e2e2e2',GradientType=0 ); /* IE6-9 */
	margin: 1px;
	height: 65px;
}

.find-review-index h3{
	color: #000;
	font: 22px/66px Arial,Helvetica,sans-serif;
	float: left;
	padding: 0 120px 0 20px;
	display: inline-block;
}

 .find-review-index  .select-group { 
	padding-top:14px;
}
 .find-review-index  .select-group .make,  .find-review-index   .select-group .model,  .find-review-index  .select-group .year {
	float:left;
	margin-right:10px;

}
 .find-review-index .select-group select {
	font-family:Arial, Helvetica, sans-serif;
	color:#333;
	font-size:14px;
	padding:10px 2%;
	width:160px;
}

 .find-review-index .select-group select[disabled]{
	color:#adadad;
}

 .find-review-index  .select-group .btn { float:left; }
 .find-review-index .dropdown-box .select-btn {
	border:#FFF 2px solid;
	-webkit-border-radius:5px;
	-moz-border-radius:   5px;
	border-radius:5px;
	background: #841210; /* Old browsers */
	background: -moz-linear-gradient(top, #981311 0%, #981311 50%, #841210 50%, #841210 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #981311), color-stop(50%, #981311), color-stop(50%, #841210), color-stop(100%, #841210)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #981311 0%, #981311 50%, #841210 50%, #841210 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #981311 0%, #981311 50%, #841210 50%, #841210 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #981311 0%, #981311 50%, #841210 50%, #841210 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#841210', endColorstr='#981311', GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #841210 0%, #981311 50%, #841210 50%, #981311 100%); /* W3C */
	color:#FFF;
	font:16px/37px Arial, Helvetica, sans-serif;
	padding: 0 60px;
	float:left;
	-webkit-box-shadow:  0px 0px 1px 1px rgba(204, 204, 204, .5);
	box-shadow:  0px 0px 1px 1px rgba(204, 204, 204, .5);
	margin-left: 10px;
}

/*SELECT REVIEW BY MAKE*/

.select-review-make{
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	margin-bottom: 20px;
	padding: 20px 20px 0 20px;		
}

.select-review-make h3.make{
	font:13px/22px Arial, Helvetica, sans-serif;
	cursor:pointer;
	color: #000;
	background: #fff;
	display: inline-block;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-top: 1px solid #ccc;
	position: relative;
	bottom: -1px;
	padding: 6px;
}
.select-review-make h3.class{
	font:13px/22px Arial, Helvetica, sans-serif;
	cursor:pointer;
	color: #ccc;
	background: #fff;
	display: inline-block;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-top: 1px solid #ccc;
	position: relative;
	bottom: -1px;
	padding: 6px;
	left: -4px;

}
.select-review-make .active{
	border-bottom: none;
	height: 23px;
	color: #000;
}

.select-review-make .make-container{
	border-top: 1px solid #ccc;
	overflow: hidden;
}

.select-review-make .make-container div{
	border-right: 1px solid #ccc;
	float: left;
	padding: 15px 0;
	width: 14.1%;	
}

.select-review-make .make-container div:last-child{
	border-right: none;
}
.select-review-make .make-container  ul.model-cnt {
	margin-left: 10px;
}
.select-review-make .make-container  .model-cnt li{
	list-style-type: none;
	font: 13px/26px Arial,Helvetica,sans-serif; 
	color: #0066cc;
}
.select-review-make .make-container  .model-cnt li a{
	color: #0066cc;
}


/*SELECT REVIEW BY BODY STYLE*/

.select-review-body h3{
	font:13px/22px Arial, Helvetica, sans-serif;
	color: #000;

}
.select-review-body .body-container{
	border-top: 1px solid #ccc;
	overflow: hidden;
}

.select-review-make .body-container{
	display: none;
}

.select-review-body .body-container div{
	border-right: 1px solid #ccc;
	float: left;
	padding: 15px 0;
	width: 14.1%;	
}

.select-review-body .body-container div:last-child{
	border-right: none;
}
.select-review-body .body-container  ul.model-cnt {
	margin-left: 10px;
}
.select-review-body .body-container  .model-cnt li{
	list-style-type: none;
	font: 13px/26px Arial,Helvetica,sans-serif; 
	color: #0066cc;
}
.select-review-body .body-container  .model-cnt li a{
	color: #0066cc;
}